
{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="container bootstrap snipets">
   <h1 class="text-center text-muted">Phones</h1>
   <div class="row flow-offset-1">
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-1.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
         <input type="radio" aria-label="Radio button for following text input">
         </div>
         
       </div>
       
     </div>
     
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-2.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
              <input type="radio" aria-label="Radio button for following text input">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-3.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">$12.49</span>
            <input type="radio" aria-label="Radio button for following text input">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-4.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
              <input type="radio" aria-label="Radio button for following text input">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-5.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
              <input type="radio" aria-label="Radio button for following text input">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-6.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
              <input type="radio" aria-label="Radio button ">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-7.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">$12.49</span>
            <input type="radio" aria-label="Radio button ">
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img src="http://static.livedemo00.template-help.com/wt_58434/images/shop-8.jpg" alt=""></a>
         <div class="caption">
           <text>jgbcfybt</text>
           <h6><a href="#">Short Sleeve T-Shirt</a></h6><span class="price">
             <del>$24.99</del></span><span class="price sale">$12.49</span>
              <input type="radio" aria-label="Radio button ">
              
         </div>
       </div>
     </div>
     <div class="col-xs-8 col-md-6">
       <div class="product tumbnail thumbnail-3"><a href="#"><img class="image max-width: 500px max-height:500px" isrc="{{this.img}}" alt=""></a>
         <div class="caption">
           <text>jgbcfybt{{this.guarantee}},{{this.screenResolution}}</text>
           <h6><a href="#">{{this.name}}</a></h6><span class="price">
             <del>{{this.price}}</del></span><span class="price sale">{{this.price}}</span>
             <input name='{{this.name}}' class="radio" type="radio" value="1" onMouseDown="this.isChecked=this.checked;"
                       onClick="this.checked=!this.isChecked;"  >
         </div>
       </div>
     </div>
   </div>
 </div>

{{!-- table --}}
<div class="container">
  <div class="btn-group btn-group-toggle mg-auto mt-2 mb-2" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Все характеристики
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="option2" autocomplete="off"> Только различия
  </label>
</div>
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
        <th scope="col">Heading</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
        <td>Cell</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
{{!-- table-hover --}}


<p style="text-align: center"><button class="showAll">Кнопка с текстом</button></p>



<p style="text-align: center">
    <button class="showAll">Кнопка с текстом</button>
</p>

<form type='submit'>
    <button class='start'>Poehali</button>
    <div class="result">
        <ul>
            {{#each objItem}}
                <li>
                    <img src="{{this.img}}" alt="альтернативный текст">
                <li class="all firstly">{{this.name}}</li>
                <li class="all firstly">{{this.price}}</li>
                <li class="all firstly">{{this.guarantee}}</li>
                <li class="all firstly">{{this.screenResolution}}</li>
                <li class="all secondary invisible">{{this.screenDiagonale}}</li>
                <li class="all secondary invisible">{{this.size}}</li>
                <li class="all secondary invisible">{{this.cameraResolution}}</li>
                <li class="all secondary invisible">{{this.internalMemory}}</li>
                <li class="all secondary invisible">{{this.RAM}}</li>
                </li>
                <input name='{{this.name}}' class="radio" type="radio" value="1"
                       onMouseDown="this.isChecked=this.checked;"
                       onClick="this.checked=!this.isChecked;">Сравнить
            {{/each}}
        </ul>
    </div>
</form>
